<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Search Result</h1>
<p>
    <a th:href="@{/product}">
        Back to list
    </a>
</p>
<div class="notify">
    <p th:text="${message}"></p>
</div>
<table id="products">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row, loop : ${productList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>